*{
    margin:0;
    background-color:#cce3de ;
    perspective: 100px;
}
::selection{
    background-color: #14B8A6;
    color:#1E293B;
}
.navbar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 50px;
    background-color: #14B8A6;

}
.navbar *{
    background-color:inherit;

}
.navbar ul{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    width:85%;
    position:relative;

}
.navbar ul li{
    list-style:none;
    height:50px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    color:rgb(33, 4, 44);
    cursor: default;
    
  transition: filter 0.3s ease;
}
#pw{
    color:#14B8A6;
}
.navbar ul li a{
    background-color: rgba(240, 248, 255, 0);
    text-decoration: none;
    color:black;
}

.navbar ul li::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.6s;
}
.navbar ul  li::after{
    content:"";
    position:absolute;
    height: 1px;
    width:100%;
    background-color: black;
    bottom:1px;
    left:0;
    opacity: 0;
    transition: all 0.6s;
    
}
.navbar ul  li:hover::before{
  opacity: 0.3;
}
.navbar ul  li:hover::after{
    opacity: 1;
    animation-name: upANDdown;
    animation-direction:normal;
    animation-duration: 1s;
    animation-iteration-count: unset;

}
@keyframes upANDdown{
    0%{
        width:0%;
        
    }
    100%{
        width:100%
    }
}
.frontPage{
    border-radius: 20px;
    height: 300px;
    width: 80%;
    margin: 100px auto;
    background-color: #0F172A;
    color:aliceblue;
    position: relative;
    overflow:hidden;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: mainFlow 1s 0.6s infinite alternate;

}
.mainword{
    width:700px;
    font-size:2.5em;
    text-align:center;
    margin:30px auto 0 auto ;
    position: relative;
}
.mainword::after{
    content:"";
    border-radius: 26%;
    position: absolute;
    bottom:0;
    right: 0;
    width:26%;
    height: 2px;
    background-color: #cce3de;
    animation: stretch 6s  infinite  alternate-reverse ;
    animation-delay: 2s;
}
@keyframes stretch{
    0%{
    width:60%;
    right:40%;
    }
    100%{
        width:26%;
        right: 0;
    }
}
.frontPage p{
    color:#FACC15;
    font-size: 1.6em;
   
    text-align: center;
}
.frontPage *{
    background-color: inherit;
}
.btn *{
    background-color: #0f172a00;
}
 .btn{
    height: 50px;
    width:150px;
    background-color: #14B8A6;
    border-radius: 40px;
   
    border: hidden;
 
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    perspective: 100px;
    overflow: hidden; 
}
.btn::after{
    content:"";
    width:400px;
    height:300px;
    position: absolute;
    top:-100px;
    left:-100px;
    opacity:1;
    z-index: -1;
    background: linear-gradient(135deg, #0F172A 0%, #1E293B 50%, #14B8A6 100%);
    animation: rotations 300s infinite linear ;
}
.cover{
    border:1px solid;
    height: 50px;
    width:150px;
    border-radius: 40px;
    position:absolute;
    left:30px;
    border: hidden;
    bottom: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:default;
    overflow: hidden;
    transition: all 0.6s;
}
.cover::before{
    content:"";
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: linear-gradient(to bottom right, #14B8A6,#7a039e );
    z-index: -1;
    
}
.cover:hover{
    width:157px;
    height: 56px;
    left:23px;
    bottom:16px;
}
.btn:hover::after{
    opacity:1;
}
@keyframes rotations{
    0%{
        transform: rotate(0rad);
    }
    100%{
        transform: rotate(360rad);
    }
}
@keyframes mainFlow{
    0%{
        transform: translate3d(0,0,0);
    }100%{
        transform: translate3d(0px,10px,0);
    }
}

.script{
    width:500px;
    padding:38px 0 0px 252px;
    font-size: 1.3em;
    color:#E2E8F0;
}

